.SummaryView {
  table {
    text-align: left;
    td {
      margin-right: 5px;
    }
    .genome-row {
      cursor: pointer;
    }
    .selected-genome {
      background-color: lightblue;
    }
    tr {
      td:first-child {
        min-width: 80px;
        text-align: right;
        padding-right: 10px;
      }
    }
  }
}